[submodule "Flubot"]
	path = Flubot
	url = https://github.com/Fluminense-Football-Club/Flubot.git
	branch = doc
[submodule "Fisio"]
	path = Fisio
	url = https://github.com/Fluminense-Football-Club/Fisio.git
	branch = Doc
